.logo{
    width: 20px;
    height: 18px;
    margin-top: 30px;
    margin-left: 30px;
    color: rgb(179, 54, 54);
    font-size: 25px;
    display: inline-block;
}
.navigation{
    display: inline-block;
    width: 600px;
    height: 30px;
    margin-left: 290px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
li{
    display: inline-block;
    width: 125px;
    height: 25px;
    color: blue;
    font-size: 20px;
    
}
.red{
    color: red;
}
.bannerimage{
    width: 1170px;
    height: 500px;
    margin:0 auto;
    margin-top: 120px;
}
section{
    margin: 0 auto;
}
.container{
    margin: 0 auto;
    width: 1170px;
}
.head{
    font-size: 24px;
    font-family: 'Odibee Sans', cursive;
    margin-bottom: 32px;
    margin-left: 88px;
}
.right h3{
    margin-bottom: 20px;
    font-size: 22px;
    color: #3d58a6
}
.left h3{
    margin-bottom: 20px;
    font-size: 22px;
    color: #3d58a6
}
.finger, .mobile{
    width: 100px;
    height: 120px;
    display: inline-block;
    margin-right: 60px;
    vertical-align: top;
}
.left, .right{
    width: 570px;
    height: 225px;
    display: inline-block;
    background-color: #f2f2f2;
    vertical-align: top;
    padding-top: 18px;
    padding-right: 14px;
    padding-bottom: 24px;
    padding-left: 42px;
}
.left{
    margin-right: 25px;
    margin-left: 80px;
}
.left p{
    display: inline-block;
    width: 340px;
    height: 143px;
    font-size: 20px;
    vertical-align: top;
}
.right p{
    display: inline-block;
    width: 340px;
    height: 143px;
    font-size: 20px;
    vertical-align: top;
}
.left:hover{
    border: 2px solid blue;
}
.right:hover{
    border: 2px solid blue;
}
.fb{
    color:#3d58a6;
    display: inline-block;
    margin-left: 80px; 
    margin-top: 45px;
    margin-bottom: 50px;
}
.line{
    border: 1px solid rgb(95, 94, 94);
    width: 1px;
    height: 20px;
    color: black;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: bottom;
    margin-bottom: 50px;
}
.yout{
    color: red;
    display: inline-block;
    margin-bottom: 50px;
}


